* {
  font-family: 'GilroyRegular', sans-serif;
}

@font-face {
  font-family: 'GilroyBlack';
  src: url('/fonts/Gilroy-Black.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GilroyBold';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GilroyRegular';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}